* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
}

.main {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

h1 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    color:cornsilk;
}



@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

